/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-left a,
  .navbar-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-right button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  